package ${package.daoPackage};

import ${package.modelPackage}.${className}Entity;
import ${package.basePackage}.common.web.BaseDao;
import org.apache.ibatis.annotations.Mapper;

/**
 * $!{tableComment}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {
	
}
